spring:
  application:
    name: hub

  datasource:
    url: jdbc:mysql://localhost:3306/hub
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        show_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

server:
  port: 8091
